.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  text-align: center;
}
.jumbotron video {
  position: relative;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
    

nav {
    text-transform: uppercase;
   font-family: 'Exo 2', sans-serif;
    font-weight: 500;
     background-color: transparent;
     
}
btn:hover {
    background-color: lightblue !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}
    a:hover {
    background-color: #49356d;
    color: white !important;                  
}

/*TEAM*/
 
.team {
   
    padding: 50px 0 80px;
    text-align: center;
}

.team strong,
.team h2,
.team h4 {
    
    margin: 20px 0 20px;
    color: #4c4c4c;
}
 
 
.team p {
   
    color: #737373;
}
 
.team img {
     
     height: 150px;
     width: 150px;
     margin-top: 80px;
 }
 
.team i {
   
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}
 
.team a:hover i {
   
    background-color: #709963;
}
 