 html, body {
            height: 100vh;
            margin: 0;
        }
.jumbotron {
    position: relative;
    z-index: -101;
    text-align: center;
    color:#40e0d0;
    height:100vh;
    background-color:black;
}

.text-white {
    /*margin-top: 150px;*/
    /*margin-bottom: -150px;*/
}

#video-background {
    position:absolute;
    z-index:-1;
    top:-10px;
    left:0px;
    width:100%; 
    height:100vh;

}


nav {
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    

}

btn:hover {
    /*color: #008080 !important;*/
    border: 1px white !important;
}

a:hover {
    background-color:#2E8B57;
    color: white !important;
}

/*TEAM*/
#meet {
height:841px;
}

#meet h2 {
    padding-bottom: 25px;
}

.container h2 {
    padding-bottom: 25px;
}
/* Three columns side by side */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;

}

.column img{
    
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}

/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #2E8B57;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




/*SERVICES*/


.services {
    padding:25px 0 25px;
    text-align: center;
    background-color: white;
    
}


.services h2 {
    text-align: center;
    color:#000000;
    padding-bottom: 25px;
}

.services h4 {
    text-align: center;
    color: #000000;
    padding-top: 25px;
}

.services i {
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #439348;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}




input.MyButton {
width: 300px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #439348;
color: white;
border: 1px solid #439348;
border-radius: 10px;
}
input.MyButton:hover {
color: white;
background: #439348;
border: 1px solid #fff;
}

/* DONATE */
.container{
    text-align:center;
}

#donate h2{
    padding-bottom: 25px;
    padding-top: 25px;
}

.form-control {
    margin-bottom: 25px;
} 

input.MyButton2 {
width: 100px;
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size: 100%;
background: #439348;
color: white;
border: 1px solid #439348;
border-radius: 10px;
margin-bottom: 10px;
}
input.MyButton:hover {
color: white;
background: #439348;
border: 1px solid #fff;



/*Alumni*/

.team h3 {
    margin-top: 30px;
}

.team img {
    margin-top: 30px;
    border-radius: 40%;
}

.team p {
    color: #737373;
}

.alumni{
    box-sizing: border-box;
}

.slideshow-container{
    position: relative;
    margin: auto;
}
 .myimages img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10px;
    height: 10px;
}

.container {
  position: relative; 
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background-color: gray;
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}



/*CONTACT*/

.contact {
    
    padding: 50px 0 80px;
    text-align: center;
}

.contact p {
    
    padding-bottom: 50px;
    color: #737373;
}



.contact .input-group {
    
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    
    border-radius: 0 !important;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #439398;
    color: #a8aeb7;
}

.contact .btn:hover {
    
    background-color: #439348;
    color: #439398;
}








/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color :#439348;
    background-color:#439348;
    background-color:#439348 ;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #439348;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
.footer : container{
    padding-bottom: 50px;
    background-color: grey;
}

.footer h4 {
    margin-top: 50px;
}

#myBtn {
    color: #439348 !important;
}
